
<div class="row col-sm-12 text-center">
    <div class="col-md-4" style="margin-left:2%;margin-top:2%">
      <h1>Search Patient</h1>
        <form #search="ngForm" (ngSubmit)="getPatient(search.value)">
            <div class="mb-3">
                 <input type="number" id="IdentityNo" name="IdentityNo" class="form-control" placeholder="IdentityNo" ngModel required>
            </div>
            <div class="text-center">
                <input type="submit" value="Get Patient" class="btn btn-info active">
            </div>
        </form>
    </div>
    <div  class="col-md-7" style="margin-left:2%;margin-top:2%">

            <!-- <div  *ngFor="let pat of Patients">
                <h1>Patient Information</h1>
                <form #updateData="ngForm" (ngSubmit)="setPatient()">
                    <div *ngIf="pat.Id == '' ">Kayıt Yok</div>

                    <input type="number" value="{{pat.IdentityNo}}" name="IdentityNo" placeholder="IdentityNo:" [(ngModel)]="pat.IdentityNo"   required>
                    <input type="text" value="{{pat.Name}}" name="Name" placeholder="Name:" [(ngModel)]="pat.Name"  required>
                    <input type="text" value="{{pat.Sirname}}" name="Sirname" placeholder="Sirname:" [(ngModel)]="pat.Sirname"  required>
                    <input type="number" value="{{pat.Age}}" name="Age" placeholder="Age:" [(ngModel)]="pat.Age"   required>
                    <input type="tel" value="{{pat.Telephone}}" name="Telephone" placeholder="Telephone:" [(ngModel)]="pat.Telephone"  required>
                    <input type="text" value="{{pat.Address}}" name="Address" placeholder="Address:" [(ngModel)]="pat.Address" required>
                    <div class="text-center">
                      <input type="submit" value="Set Patient" class="btn btn-info active ">
                    </div>
                </form>
            </div> -->
            <div *ngIf="Patients != null ">
              <form #updateData="ngForm" (ngSubmit)="setPatient()">
              <h1>Patient Information</h1>
                  <input type="number" [(ngModel)]="Patients.IdentityNo" name="IdentityNo" value="{{Patients.IdentityNo}}" placeholder="IdentityNo:" required/>
                  <input type="text" [(ngModel)]="Patients.Name" name="Name" value="{{Patients.Name}}" placeholder="Name:" required/>
                  <input type="text" [(ngModel)]="Patients.Sirname" name="Sirname" value="{{Patients.Sirname}}" placeholder="Sirname:" required/>
                  <input type="number" [(ngModel)]="Patients.Age" name="Age" value="{{Patients.Age}}" placeholder="Age:" required/>
                  <input type="tel" [(ngModel)]="Patients.Telephone" name="Telephone" value="{{Patients.Telephone}}" placeholder="Telephone:" required/>
                  <input type="text" [(ngModel)]="Patients.Address" name="Address" value="{{Patients.Address}}" placeholder="Address:" required/>
                  <div class="text-center">
                    <input type="submit" value="Set Patient" class="btn btn-info active ">
                  </div>
                </form>
             </div>



    </div>
</div>
