
    <div class="col-md-3" style="margin-left:2%;margin-top:2%">
        <form>
            <div class="mb-3">
                <label class="form-label required" for="Name" >First Name</label>
                <input ng-model type="text" id="Name" name="Name" class="form-control" autocomplete="off" required>
            </div>
            <div class="mb-3">
                <label class="form-label required" for="SirName">Sirname</label>
                <input ng-model type="text" id="SirName" name="SirName" class="form-control" autocomplete="off" required>
            </div>
            <div class="mb-3">
                <label class="form-label required" for="Age">Age</label>
                <input ng-model type="number" id="Age" name="Age" class="form-control" autocomplete="off" required>
            </div>
            <div class="mb-3">
                <label class="form-label required" for="IdentityNo">IdentityNo</label>
                <input ng-model type="number" id="IdentityNo" name="IdentityNo" class="form-control" autocomplete="off" required>
            </div>
            <div class="mb-3">
                <label class="form-label required" for="Telephone">Phone number</label>
                <input ng-model type="tel" id="Telephone" name="Telephone" class="form-control" autocomplete="off" required>
            </div>
            <div class="mb-3">
                <label class="form-label required" for="Address">Address</label>
                <input ng-model type="text" id="Address" name="Address" class="form-control" autocomplete="off" required>
            </div>
            <label class="form-check">
                <input ng-model type="checkbox" class="form-check-input" required>
                <span class="form-check-label required">I agree to the Terms &amp; Conditions</span>
            </label>
            <div class="col-6 col-sm-4 col-md-2 col-xl mb-3">
                <button type="submit"  class="btn btn-info active w-100">Add Patient</button>
            </div>

        </form>

    </div>
    